.game {
    font-family: Arial;
    text-transform: uppercase;
    width: 700px;
}

.title {
    text-align: center;
}

.boxes {
    /*position: absolute;*/
    /*left: 43%;*/
    /*justify-content: center;*/
    margin: 0 auto;
}

.keyboard {
    margin: 0 auto;
    justify-content: center;
    left: 43%;
    justify-content: center;
    padding-left: 5px;
}